<div>
  <main>
    <section class="py-0">
      {{> title data=name big=true}}

      <p>
        <div class="ms-3">
          <div>Birthdate: <b> {{birthdate}}</b></div>
          <div>Birthplace: <address>{{birthplace}}</address> </div>
          <div>Deathdate: <b>{{deathdate}} </b></div>
          <div>Deathplace: <address>{{deathplace}} </address> </div>
          <div>Nationality: <b>{{nationality}} </b> </div>
          <div>Occupation: <b>{{occupation}} </b></div>
        </div>
      </p>
    </section>
      <hr class="mt-5">

      <div class="mt-4 mb-0"><b>Known for: </b> </div>
      <ul>
        {{#each known_for}}
          <div><li>{{this}}</li></div>
        {{/each}}
      </ul>

      {{!-- <br> --}}

      <div class="mt-4 mb-0"><b>Education: </b> </div>
      <ul>
        {{#each education}}
          <li>  
            <div>Degree: {{degree}}</div> 
            <div>Field: {{field}}</div>
            <div>Institution: {{institution}}</div>
            <div>Year: {{year}}</div>
          </li> 
        {{/each}}        
      </ul>      

      {{!-- <br> --}}
      <div class="mt-4 mb-0"><b>Notable publications: </b> </div>
      <ul>
        {{#each notable_publications}}
          <li class="mb-3">  
            <div>Title: <b> {{title}}</b></div> 
            <div>Year: {{year}}</div>
            <div>Publisher: {{publisher}}</div>            
          </li> 
          {{!-- <br> --}}
        {{/each}}        
      </ul>   
      
      <div class="mt-4 mb-0"><b>Partners: </b> </div>
      <ol>
        {{#each partners}}
          <li class="mb-3">  
            <div>Name: <b> {{name}}</b></div> 
            <div>Relationship: <q>{{relationship}}</q></div>
            <div>Years: {{years}}</div>
          </li> 
          {{!-- <br> --}}
        {{/each}}        
      </ol> 
      
      <div class="mt-4 mb-0"><b>Awards: </b> </div>
      <ul>
        {{#each awards}}
          <li class="mb-3">  
            <div>Title: <b> {{title}}</b></div> 
            <div>Description: <q>{{description}}</q></div>
            <div>Year: {{year}}</div>
          </li> 
          {{!-- <br> --}}
        {{/each}}        
      </ul>      

      <div class="mt-4 mb-0"><b>Influences: </b> </div>
      <ul>
        {{#each influences}}
          <div><li>{{this}}</li></div>
        {{/each}}
      </ul> 
      
      <div class="mt-4 mb-0"><b>Influenced: </b> </div>
      <ul>
        {{#each influenced}}
          <div><li>{{this}}</li></div>
        {{/each}}
      </ul>  
                              
      <div class="mt-4 mb-0"><b>Quotes: </b> </div>
      <ul>
        {{#each quotes}}
          <div><li> <q> {{this}}</q></li></div>
        {{/each}}
      </ul> 

      <div class="mt-4 mb-0"><b>Major discoveries: </b> </div>
      <ul>
        {{#each major_discoveries}}
          <li>  
            <div>Title: <b> {{title}}</b></div> 
            <div>Description: <q>{{description}}</q></div>
            <div>Year: {{year}}</div>
          </li> 
          <br>
        {{/each}}        
      </ul>

      <div class="mt-4 mb-0"><b>Contributions: </b> </div>
      <ul>
        {{#with contributions}}
          <li>  
            <div>Title: <b> {{title}}</b></div> 
            <div>Description: <q>{{description}}</q></div>
            <div>Year: {{year}}</div>
            <div>Field: {{field}}</div>
          </li> 
          <br>
        {{/with}} 
      </ul>      
    </main>
</div>