<div>
  <main>
    <section>
      {{> title data=make big=true}}
      <div>Model: <b>{{model}}, {{year}} </b> </div>
      <div>Color: <b>{{color}} </b> </div>
    </section>

    <div class='accordion' id='accordionExample'>

      <div class='accordion-item'>
        <h2 class='accordion-header'>
          <button
            class='accordion-button collapsed'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#collapseOne'
            aria-expanded='true'
            aria-controls='collapseOne'
          >
            Interior
          </button>
        </h2>

        <div
          id='collapseOne'
          class='accordion-collapse collapse '
          data-bs-parent='#accordionExample'
        >
          <div class='accordion-body'>
            {{#with features/interior}}
            <section>
              {{> title data='Interior:' big=false}}
                <ul>
                  <li>
                    <p>
                      <h5>Seats</h5>
                      {{#with seats}}
                        <ul>
                          <li><div>Material: <b>{{material}}</b></div> </li>
                          <li><div>Color: <b>{{color}}</b></div> </li>
                          <li><div>Heated: <b>{{heated}}</b></div> </li>
                          <li><div>Ventilated: <b>{{ventilated}}</b></div>  </li>
                        </ul>
                      {{/with}}
                    </p>
                  </li>

                  <li>
                    <p>
                      <h5>Dashboard</h5>
                      {{#with dashboard}}
                        <ul>
                          <li><div>Material: <b>{{material}}</b></div> </li>
                          <li><div>Color: <b>{{color}}</b></div> </li>
                          <li><div>Display:</div> </li>
                          {{#with display}}
                            <ul>
                              <li><div>Type : <b>{{type}}</b></div> </li>
                              <li><div>Size : <b>{{size}}</b></div>  </li>
                              <li><div>Resolution : <b>{{resolution}}</b></div> </li>
                              <li><div>Touchscreen : <b>{{touchscreen}}</b></div>  </li>
                            </ul>
                          {{/with}} 
                        </ul>
                      {{/with}}
                    </p>
                  </li>

                  <li>
                    <p>
                    <h5>Audio</h5>
                    {{#with audio}}
                      <ul>
                        <li><div>System: <b> {{system}}</b></div> </li>
                        <li><div>Speakers: <b> {{speakers}}</b></div> </li>
                        <li><div>Subwoofer: <b> {{subwoofer}}</b></div> </li>
                        <li><div>Bluetooth: <b> {{bluetooth}}</b></div> </li>
                        <li><div>USB: <b> {{USB}}</b></div> </li>
                      </ul>
                    {{/with}}
                    </p>
                  </li>
                </ul>
            </section>
          {{/with}}

          </div>
        </div>
      </div>

      <div class='accordion-item'>
        <h2 class='accordion-header'>
          <button
            class='accordion-button collapsed'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#collapseTwo'
            aria-expanded='false'
            aria-controls='collapseTwo'
          >
            Exterior
          </button>
        </h2>
        <div
          id='collapseTwo'
          class='accordion-collapse collapse'
          data-bs-parent='#accordionExample'
        >
          <div class='accordion-body'>

            {{#with features/exterior}}
              <section>
                {{> title data='Exterior:' big=false}}
                <ul>
                  <li>
                    <p>
                      <h5>Wheels</h5>
                      {{#with wheels}}
                        <ul>
                          <li><div>Size: <b> {{size}}</b></div> </li>
                          <li><div>Type: <b> {{type}}</b></div> </li>
                          <li><div>Color: <b> {{color}}</b></div> </li>
                        </ul>
                      {{/with}}
                    </p>
                  </li>

                  <li>
                    <p>
                      <h5>Headlights</h5>
                      {{#with headlights}}
                        <ul>
                          <li><div>Type: <b> {{type}}</b></div> </li>
                          <li><div>Brightness: <b> {{brightness}}</b></div> </li>
                          <li><div>Automatic: <b> {{automatic}}</b></div> </li>
                        </ul>
                      {{/with}}
                    </p>
                  </li> 
                  
                  <li>
                    <p>
                      <h5>Sunroof</h5>
                      {{#with sunroof}}
                        <ul>
                          <li><div>Type: <b> {{type}}</b></div> </li>
                          <li><div>Size: <b> {{size}}</b></div> </li>
                          <li><div>Automatic: <b> {{automatic}}</b></div> </li>
                        </ul>
                      {{/with}}
                    </p>
                  </li> 
                </ul>        
              </section>
            {{/with}}

          </div>
        </div>
      </div>

      <div class='accordion-item'>
        <h2 class='accordion-header'>
          <button
            class='accordion-button collapsed'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#collapseThree'
            aria-expanded='false'
            aria-controls='collapseThree'
          >
            Safety
          </button>
        </h2>
        <div
          id='collapseThree'
          class='accordion-collapse collapse'
          data-bs-parent='#accordionExample'
        >
          <div class='accordion-body'>
            
            {{#with features/safety}}
              <section>
                {{> title data='Safety:' big=false}}
                <ul>
                  <li>
                    <p>
                      <h5>Airbags</h5>
                      {{#with airbags}}
                        <ul>
                          <li><div>Front: <b> {{front}}</b></div> </li>
                          <li><div>Side: <b> {{side}}</b></div> </li>
                          <li><div>Knee: <b> {{knee}}</b></div> </li>
                          <li><div>Rear: <b> {{rear}}</b></div> </li>
                        </ul>
                      {{/with}}
                    </p>
                  </li>

                  <li>
                    <p>
                      <h5>Assistance</h5>
                      {{#with assistance}}
                        <ul>
                          <li><div>Blind spotmonitoring: <b> {{blind_spot_monitoring}}</b></div> </li>
                          <li><div>Rear cross traffic alert: <b> {{rear_cross_traffic_alert}}</b></div> </li>
                          <li><div>Lane departure warning: <b> {{lane_departure_warning}}</b></div> </li>
                          <li><div>Adaptivecruise control: <b> {{adaptive_cruise_control}}</b></div> </li>
                          <li><div>Collision warning: <b> {{collision_warning}}</b></div> </li>
                        </ul>
                      {{/with}}
                    </p>
                  </li>
                </ul>
              </section>
            {{/with}} 

          </div>
        </div>
      </div>

      <div class='accordion-item'>
        <h2 class='accordion-header'>
          <button
            class='accordion-button collapsed'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#collapseFour'
            aria-expanded='false'
            aria-controls='collapseFour'
          >
            Engine
          </button>
        </h2>
        <div
          id='collapseFour'
          class='accordion-collapse collapse'
          data-bs-parent='#accordionExample'
        >
          <div class='accordion-body'>
            
            {{#with engine}}
              <section>
                {{> title data='Engine:' big=false}}
                <ul>
                  <p>
                    <li><div>Type: <b> {{type}}</b></div> </li>
                    <li><div>Displacement: <b> {{displacement}}</b></div> </li>
                    <li><div>Horsepower: <b> {{horsepower}}</b></div> </li>
                    <li><div>Torque: <b> {{torque}}</b></div> </li>            
                    <li><div>Transmission:</div> </li>
                    {{#with transmission}}
                      <ul>
                        <li> <div>Type: <b> {{type}}</b></div> </li>
                        <li> <div>Gears: <b> {{gears}}</b></div> </li>
                      </ul>
                    {{/with}}
                  </p>
                </ul>
              </section>
            {{/with}} 

          </div>
        </div>
      </div>

      <div class='accordion-item'>
        <h2 class='accordion-header'>
          <button
            class='accordion-button collapsed'
            type='button'
            data-bs-toggle='collapse'
            data-bs-target='#collapseFive'
            aria-expanded='false'
            aria-controls='collapseFive'
          >
            Fuel economy
          </button>
        </h2>
        <div
          id='collapseFive'
          class='accordion-collapse collapse'
          data-bs-parent='#accordionExample'
        >
          <div class='accordion-body'>
            
            {{#with fuel_economy}}
              <section>
                {{> title data='Fuel economy:' big=false}}
                <ul>
                  <p>
                    <li><div>City: <b> {{city}}</b></div> </li>
                    <li><div>Highway: <b> {{highway}}</b></div> </li>
                    <li><div>Combined: <b> {{combined}}</b></div> </li>
                  </p>
                </ul>
              </section>
            {{/with}}

          </div>
        </div>
      </div>

    </div>

    {{#with price}}
      <section>
        <span class="badge bg-primary">{{> title data='Price:' big=false}}</span>
        <ul>
          <p>
            <li><div>Base: <b> {{base}}</b></div> </li>
            <li><div>Destination: <b> {{destination}}</b></div> </li>
         
            <li><div>Options:</div> </li>
            {{#with options}}
              <ul>
                <li> <div>Navigation: <b> {{navigation}}</b></div> </li>
                <li> <div>Moonroof: <b> {{moonroof}}</b></div> </li>
                <li> <div>Premium paint: <b> {{premium_paint}}</b></div> </li>
              </ul>
            {{/with}}

            <li><div>Total: <b> {{total}}</b></div> </li>
          </p>
        </ul>
      </section>
    {{/with}} 
  </main>
</div>