<div>
  {{#with person}}
    <main>
      <section >
        {{> title data=name big=true}}

        <div class="ps-3"> Age: <b>{{age}}</b> </div>
        <div class="ps-3"> Gender: <b>{{gender}}</b> </div>

        {{#with address}}
          <div class="ps-3">
            <address> 
              Address: {{country}}, {{state}}, {{city}}, {{street}} (zip-code :{{zip}}) 
            </address>
          </div>
        {{/with}}
      </section>

      <hr class="mb-3">
      <section>
        {{> title data='Education' big=false}} 

        {{#each education}} 
          <ol>
            <li> 
              <div><b>{{university}}</b></div> 

              <ul>
                <div><li>Major: {{major}}</li></div> 
                <div><li>Degree: {{degree}}</li></div> 
                <div><li>Graduation Year: {{graduationYear}}</li></div> 
              </ul>
              
            </li>
          </ol>
        {{/each}}
      </section>

      {{!-- <br> --}}
      <hr class="my-3"> 
      <section>
        {{> title data='Work Experience' big=false}}

        {{#each workExperience}} 
          <div>
            <ol>
              <li> 
                <div> Company name: <b>{{company}}</b> (founded at {{year_founded}}) </div>
                <div>Industry: <b>{{industry}} </b></div>
                <div>Title: <b>{{title}}</b> (
                  з {{startDate}} по 
                  {{#if endDate}} 
                    {{endDate}} 
                  {{else}} 
                    (досі працює)
                  {{/if}}
                  )
                </div>

                <div><h4 class="mt-3 mb-0">Responsibilities:</h4></div>
                <ul> 
                  {{#each responsibilities}} 
                   <div> <li>{{this}}</li></div> 
                  {{/each}}
                </ul>

                <div>
                  <h4 class="mt-3 mb-0">Employees</h4>

                  {{#each employees}}
                    <div class="ps-3">Name: <b>{{name}}</b> </div>
                    <div class="ps-3">Position: <b>{{position}}</b> </div>
                    <div class="ps-3">Department: <b>{{department}}</b> </div>
                    <hr>

                    <div><h5 class="mt-3 mb-0">Projects:</h5></div>
                    {{#each projects}}
                      {{#with this}}
                        <ol>
                          <li>
                            {{!-- <hr> --}}
                            <div>Project name: <b>{{name}}</b></div>
                            <div>Status: <b>{{status}}</b></div>
                            <div>Description: <em>{{description}}</em></div>

                            <div><h5 class="mt-3 mb-0">Teams:</h5></div>
                            <div>
                              {{#each teams}}
                                <ul>
                                  <li>
                                    {{#with this}}
                                      <div>Team name: <b>{{team_name}}</b></div>
                                      {{#with team_leader}}
                                        <div>Team leader name: <b>{{name}} </b></div>
                                        <div>Title: <b>{{title}} </b></div>
                                        <div>Email: <b>{{email}} </b></div>
                                      {{/with}}                                      
                                    {{/with}}

                                    {{!-- <br> --}}
                                    <div class="my-3 mb-0">
                                      <b> Team members: </b>
                                    </div>

                                    <ul>
                                      {{#each team_members}}
                                        {{#with this}}
                                          <li>
                                            <div>Member name: <b>{{name}} </b></div>
                                            <div>Member title: <b>{{title}} </b></div>
                                            <div>Member email: <b>{{email}} </b></div>
                                            {{!-- <br> --}}
                                            
                                            <div class="my-3 mb-0"><u> Member skills:</u> </div>
                                            <ul>
                                              {{#each skills}}
                                                <div><li>{{this}}</li></div>
                                              {{/each}}
                                            </ul>
                                            {{!-- <br> --}}

                                            <div class="my-3"> 
                                              <u>Member projects:</u> 
                                              <ul>
                                                {{#each projects}}
                                                  {{#with this}} 
                                                    <li>
                                                      <div>Project name: <b>{{name}}</b></div> 
                                                      <div>Project description: <em>{{description}}</em> </div>
                                                      {{!-- <br> --}}
                                                      <div class="my-3 mb-0"><u> Project technologies:</u></div>
                                                      <ul>
                                                        {{#each technologies}}
                                                          <div><li>{{this}}</li></div>
                                                        {{/each}}
                                                      </ul> 
                                                      {{!-- <br> --}}

                                                      <div class="my-3 mb-0"><u> Project members:</u></div>
                                                      <ul>
                                                        {{#each team_members}}
                                                          <li>
                                                            <div>Member name: <b>{{this.name}}</b></div>
                                                            <div>Member title: <b>{{this.title}}</b></div>
                                                          </li>
                                                          {{#unless @last}}
                                                          <hr>
                                                          {{/unless}}
                                                        {{/each}}
                                                      </ul>
                                                    </li>
                                                  {{/with}}
                                                {{/each}}
                                              </ul>
                                            </div>
                                          </li>
                                        {{/with}}
                                      {{/each}}
                                    </ul>
                                  </li>
                                </ul>
                              {{/each}}
                            </div>
                          </li>
                        </ol>
                      {{/with}}
                    {{/each}}

                  {{/each}}
                </div>
              </li>
            </ol>
          </div> 
        {{/each}}
      </section>     
    </main>
  {{/with}}
</div>