<div>
  <main>
    <section>
      {{#with navigation/links}}
        {{#each this}}
          <a
            href='{{href}}'
            class='btn btn-link col-2'
            target='_blank'
          >
            {{text}}
          </a>
        {{/each}}
      {{/with}}

      {{#with navigation/button}}
        <a href='{{href}}' target='_blank'>
          <div class='btn btn-primary col-2'>
            {{text}}
          </div>
        </a>
      {{/with}}
    </section>

    <hr />
    <br />
    <section>
      {{#with header}}
        <p class='h1'>{{title}}</p>
        <p>{{description}} </p>

        {{#with button}}
          <a href='{{link}}' target='_blank'>
            <div class='btn btn-primary'>
              {{text}}
            </div>
          </a>
        {{/with}}
      {{/with}}
    </section>

    <br />
    <hr />

    <section>
      {{#with city}}
        <p class='h2'>{{title}}</p>

        {{! <div class='row gx-2 gy-4'> }}
        <div class='row'>

          {{#each cards}}
            <div class='col-5 gx-2 gy-4'>
              <div class='card h-100'>
                <div class='card-body'>
                  <img
                    class='card-img-top'
                    src={{picture/src}}
                    alt={{picture/alt}}
                  />

                  <h6 class='card-title'>{{title}}</h6>
                  <p>{{description}} </p>
                  {{#with button}}
                    <a href='{{href}}' target='_blank'>
                      <div class='btn btn-primary'>
                        {{text}}
                      </div>
                    </a>
                  {{/with}}

                </div>
              </div>
            </div>
          {{/each}}

        </div>
      {{/with}}
    </section>
    <hr />

    <section>
      {{#with winner}}
        <p class='h2'>{{title}}</p>

        <table class='table'>
          <thead>
            <tr>
              {{#each table/head}}
                <th>{{this}}</th>
              {{/each}}
            </tr>
          </thead>

          <tbody>
            {{#each table/user}}
              <tr>
                <th>{{this.place}}</th>
                <td>{{this.name}}</td>
                <td>{{this.surname}}</td>
                <td>{{this.nickname}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/with}}
    </section>
    <hr />

    <section>
      {{#with gallery}}
        <p class='h2'>{{title}}</p>
        <br />
        <div class='row'>

          {{#each cards}}
            <div class='col-4 g-2'>
              <div class='card h-100'>
                <div class='card-header'>
                  <div><h6>{{name}}</h6></div>
                </div>

                <ul class='list-group list-group-flush'>
                  {{#each items}}
                    <li
                      class='list-group-item'
                    >{{this}}</li>
                  {{/each}}
                </ul>

              </div>
            </div>
          {{/each}}

        </div>
      {{/with}}
    </section>
    <hr />

    <section>
      {{#with relaxion}}
        <h1 class='display-3'>{{title}}</h1>
        <br />
        {{! <div class='row gx-2 gy-4'> }}
        <div class='row'>

          {{#each cards}}
            <div class='col-5 gx-2 gy-4'>
              <div class='card text-bg-secondary h-100'>
                <div class='card-header'>
                  <div><h5>{{header}}</h5></div>
                </div>

                <div class='card-body'>
                  <h6 class='card-title'>{{title}}</h6>
                  <p>{{description}}</p>
                </div>
              </div>
            </div>

          {{/each}}

        </div>
      {{/with}}
    </section>
    <hr />

    <section>
      {{#with rest}}

        <div class='row'>

          {{#each cards}}
            <div class='col-6 g-2'>
              <div class='card h-100'>

                <div class='card-header text-center'>
                  <div><h6>{{this.header}}</h6></div>
                </div>

                <div class='card-body text-center'>
                  <h5 class='card-title'>{{this.title}}</h5>
                  <p>{{this.description}}</p>

                  <div class='btn btn-primary'>
                    {{this.button}}
                  </div>
                </div>

                <div class='card-footer text-center'>
                  <h6
                    class='card-title'
                  >{{this.footer}}</h6>
                </div>

              </div>
            </div>
          {{/each}}

        </div>

      {{/with}}
    </section>
    <br />
    <hr />

    <section>
      {{#with proposition}}
        <h1 class='display-2'>{{title}}</h1>

        <div class='row'>
          {{#each card}}
            <div class='col-5 g-2'>
              <div class='card text-bg-warning h-100'>
                <div class='card-header'>
                  <div><h6>{{this.header}}</h6></div>
                </div>

                <div class='card-body'>
                  <h5 class='card-title'>{{this.title}}</h5>
                  <p>{{this.description}}</p>
                </div>

              </div>
            </div>
          {{/each}}
        </div>
      {{/with}}
    </section>
    <br />
    <hr />

    <section>
      {{#with footer}}
        <div class='h5'>{{title}}</div>
        <br />

        <div class='row'>

          <div class='col-3'>
            {{#each navigation}}
              <div>
                <a
                  href='{{this.href}}'
                  target='_blank'
                >{{this.text}}</a>
              </div>
              <br />
            {{/each}}
          </div>

          <div class='col-3'>
            {{#each socialMedia}}
              <div>
                <a href='{{this.link}}' target='_blank'>
                  <div class='btn btn-outline-dark'>
                    {{this.name}}
                  </div>
                </a>
              </div>
              <br />
            {{/each}}
          </div>

          <div class='col-3'>
            {{#each partners}}
              <div>
                <a href='{{this.link}}' target='_blank'>
                  <div class='btn btn-outline-info'>
                    {{this.name}}
                  </div>
                </a>
              </div>
              <br />
            {{/each}}
          </div>

        </div>
      {{/with}}
    </section>

  </main>
</div>