{{#if label}}
  <label class='form-label mb-0'>{{label}}</label>
{{/if}}

<select class='form-select {{#if size}}{{size}}{{/if}}'>
  {{#if placeholder}}
    <option selected>{{placeholder}}</option>
  {{/if}}

  {{#each options}}
    <option value={{this.value}}>{{this.text}}</option>
  {{/each}}
</select>