<div>
  <a
    class='btn btn{{#if isOutline}}-outline{{/if}}-{{type}}'
    href='{{link}}'
    {{#if target}}
      target='{{target}}'
    {{else}}
      target='_blank'
    {{/if}}
  >{{text}}</a>
</div>